CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.idea
.env
cmake-build-debug/*
cmake-build-release/*
build/*
lib/tests/debug_output/*
node_modules
package.json
package-lock.json